app.namespace=https://your-heroku-app.herokuapp.com
app.admin.emails=phtcon@ucsb.edu

auth0.domain=ucsb-cs156-cgaucho.us.auth0.com	
auth0.clientId=FILL-IT-IN

security.oauth2.resource.id=https://your-heroku-app.herokuapp.com
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json
