app.namespace=just-the-name-of-your-heroku-app
app.admin.emails=phtcon@ucsb.edu

auth0.domain=FILL-IT-IN
auth0.clientId=FILL-IT-IN

security.oauth2.resource.id=just-the-name-of-your-heroku-app
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json