app.namespace=https://YOUR-HEROKU-APP.herokuapp.com
app.admin.emails=phtcon@ucsb.edu

auth0.domain=ucsb-cs156-cgaucho.us.auth0.com
auth0.clientId=FILL-IT-IN

security.oauth2.resource.id=https://YOUR-HEROKU-APP.herokuapp.com
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json
